<!DOCTYPE html>
<html lang="en">
    {{>head}}
<body>
    {{>navbar}}


    <div class="row">
        <div class="col-8">
            <h1>Lorem ipsum, dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis impedit, architecto alias assumenda eveniet facere temporibus quo quibusdam mollitia quae dolorum beatae deserunt similique voluptatem ut, odit dolore nesciunt perspiciatis!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/1.jpg" alt="" class="img-thumbnail w-100">
        </div>
        
    </div>


    {{>footer}}
</body>
</html>